.button {
  @include link();
  @include osvald(400);
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 7px 44px 7px 44px;
  background-color: $basic-green;
}
