.choose-program {
  @include osvald(400);
  margin-bottom: 32px;
}

.choose-program__title {
  @include fonts(36px, 40px);
  @include offset(0, 0);
  margin-bottom: 37px;
}

.choose-program__text {
  @include offset(0, 0);
  @include fonts(14px, 18px);
  text-transform: uppercase;
  margin-bottom: 39px;
}

.choose-program__wrapper,
.choose-program__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
