.example {
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 56%, $dark-grey 56%,);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 29%, $dark-grey 29%,);
  }
}

.example__main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-left: auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    width: 1440px;
    margin-bottom: 0;
  }
}

.example__container {
  @include padding(20px, 20px);
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    @include padding(30px, 30px);
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 110px;
    width: 570px;
  }
}

.example__slider-container {
  @media (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 0;
    width: 650px;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
    text-align: right;
  }
}

.example__title {
  @include osvald(400);
  @include fonts(36px, 40px);
  @include offset(0, 0);
  padding-top: 27px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 63px;

    @include fonts(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
    width: 600px;
    padding-top: 54px;
  }
}

.example__legend {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.example__text {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 24px);
    @include offset(0, 0);

    width: 700px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-right: 165px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.example__number,
.example__facts {
  @include osvald(400);
  text-transform: uppercase;

  @include offset(0, 0);
}

.example__item {
  @include offset(0, 0);
  min-width: 124px;
  border: 1px solid $special-light-grey;
  border-radius: 3px;
  text-align: center;
  padding-top: 14.5px;
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__space {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example__item:first-of-type {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.example__number {
  @include fonts(24px, 24px);
  padding-bottom: 15.5px;

  @media (min-width: $tablet-width) {
    @include fonts(30px, 37px);
    padding-bottom: 20px;
  }
}

.example__facts {
  @include fonts(14px, 20px);
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    text-align: right;
    width: 174px;
    padding-top: 12px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    width: 436px;
  }
}

.example__indent {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    padding-top: 0;
    padding-left: 60px;
  }
}

.example__description {
  @include fonts(12px, 12px);
  @include offset(0, 0);
  position: absolute;
  top: 45px;
  left: 23px;
  width: 80px;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    @include fonts(14px, 14px);
    top: 63px;
    left: 15px;
    background: $basic-white;
    width: 129px;
  }

  @media (min-width: $desktop-width) {
    background-color: $dark-grey;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 650px;
  }
}
