.example {
  padding-top: 25px;
  margin-bottom: 25px;
  background-color: $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 40%, $dark-grey 40%,);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 20%, $dark-grey 20%,);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.example__title {
  @include osvald(400);
  @include fonts(36px, 40px);
  @include offset(0, 0);
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.example__legend {
  @media (min-width: $desktop-width) {
    grid-row: 2/2;
    grid-column: 1/2;
    margin-bottom: 146px;
  }
}

.example__text {
  margin-bottom: 39.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.example__statistics {
  display: flex;
}

.example__number,
.example__facts {
  @include osvald(400);
  text-transform: uppercase;

  @include offset(0, 0);
}

.example__number {
  @include fonts(24px, 24px);
}

.example__facts {
  @include fonts(14px, 20px);
  margin-bottom: 42px;
}

.example__description {
  @include offset(0, 0);
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
}

.example__item {
  padding-left: 30px;
}
