.form__fieldset {
  border: none;

  @include offset(0, 0);
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {

    flex-direction: row;
    margin-bottom: 68px;
  }
}

.form__list {
  @include list-reset();
  @include offset(0, 0);
}

.form__item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.form__title {
  @include osvald(400);
  @include offset(0, 0);
  @include fonts(24px, 26px);
  color: $basic-black;
  background-color: $basic-white;
  padding-left: 28px;
  margin-left: -28px;
  margin-bottom: 34px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    @include fonts(36px, 36px);
  }
}

.form__label,
input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  color: $special-dark-grey;

  @include osvald(400);
  @include fonts(16px, 18px);
  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
  }
}

.form__input {
  border: 1px solid $the-lightest-grey;
  box-sizing: border-box;

  &:hover {
    border-color: $special-light-grey;
  }

  @include osvald(400);
  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
  }

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
  }
}

.form__label-info {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
  }
}

.form__input-info {
  padding-left: 14px;
  flex-grow: 1;
  border-color: $the-lightest-grey;

  &[placeholder] {
    padding-top: 5px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;

    &[placeholder] {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.form__input-info,
.form__input-owner {
  min-height: 45px;
}

.form__input-info,
.form__message-field,
.form__input-owner {
  &:focus {
    outline: 1px solid $special-dark-grey;
  }
}

.form__filter {
  color: $almost-black;
  padding-left: 45px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 88px;
    padding-bottom: 13px;
  }
}

.form__filter label {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.form__item-purpose label {
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding-bottom: 11px;
  }
}

.form__aditional label {
  color: $basic-black;
  padding-bottom: 4px;
}

/*.form__input-radio:focus + label::before,
.form__input-checkbox:focus + label::before {
  outline: auto;
}*/

.form__input-radio + label::before,
.form__input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -8px;
  border: 1px solid $special-light-grey;
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
    top: -6px;
  }
}

.form__label-radio {
  color: $almost-black;
}

.form__input-radio + label:hover::before,
.form__input-checkbox + label:hover::before {
  border-color: $special-form-grey;
}

.form__input-radio + label::before {
  border-radius: 50%;
}

.form__input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 6px;
    left: -49px;
  }
}

.form__input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -39px;
  width: 18px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 6px;
    left: -48px;
  }
}

.form__message-field {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  border: 1px solid $the-lightest-grey;

  &:hover {
    border-color: $special-light-grey;
  }

  @include osvald(400);
  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    width: 631px;
    min-height: 174px;
    padding: 9px 9px 15px 18px;

    @include fonts(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &[placeholder] {
    padding: 12px 9px 15px 13px;

    @media (min-width: $tablet-width) {
      padding: 8px 18px 10px 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 10px 18px 10px 18px;
    }
  }
}

.form__info,
.form__purpose {
  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -20px;
    border-bottom: 1px solid $light-grey;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__info {
  padding-bottom: 23px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    @include offset(0, 0);
  }
}

.form__purpose {
  padding-bottom: 12px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    border: 1px solid $the-lightest-grey;
    padding-top: 30px;
    padding-left: 38px;
    padding-bottom: 18px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-left: 0;
    margin: 0;
  }
}

.form__owner {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.form__comment {
  margin-bottom: 28px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
      top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.form__owner .form__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }
}

.form__comment .form__title {
  width: 140px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
    width: 226px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    width: 230px;
  }
}

.form__additional-title {
  width: 164px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
    width: 255px;
  }
}

.form__owner-title {
  width: 201px;

  @media (min-width: $tablet-width) {
    width: 558px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
    width: 555px;
  }
}

.form__label-owner {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }
}

.form__email {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.form__input-owner {
  padding-left: 12px;
  flex-grow: 1;

  &[placeholder] {
    padding-top: 5px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;

    &[placeholder] {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }
}

.form__img-mail {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 15px;
  right: 15px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 19px;
  }
}

.form__img-phone {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 15px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 14px;
    right: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}

.form__list-additional {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 50px;
    margin-bottom: 62px;
  }
}

.form__item-additional {
  @media (min-width: $tablet-width) {
    padding-left: 59px;
    padding-bottom: 38px;
    width: 36%;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-bottom: 0;
    box-sizing: border-box;
  }
}

.form__label-radio:focus + label::before,
.form__input-checkbox:focus + label {
  outline: 2px solid $basic-black;
}


.form__button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 48px;
  }
}

.form__button {
  width: 280px;
  box-sizing: border-box;
  min-height: 40px;
  margin-bottom: 23px;
  outline: none;
  border: none;

  @media (min-width: $tablet-width) {
    width: 306px;
    padding: 13px 45px;
    margin-bottom: 0;

    @include fonts(20px, 20px);
  }

  @media (min-width: $desktop-width) {
    width: 586px;
    padding: 14px 190px;
    margin-bottom: 0;

    @include fonts(20px, 20px);
  }
}

.form__text {
  font-family: "Arial", sans-serif;
  min-width: 157px;

  @include fonts(14px, 16px);
  @include offset(0, 0);
  margin-bottom: 32px;

  &--important {
    text-align: center;
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    @include fonts(16px, 16px);
    width: 50%;
    padding-left: 61px;

    &--important {
      text-align: left;
      padding-top: 15px;
      padding-left: 64px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
    padding-left: 78px;
  }
}

.form__item-info,
.form__item-owner {
  padding-bottom: 14px;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
  }
}

.form__list-owner {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__item-owner {
  position: relative;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.form__item-purpose {
  padding-bottom: 13px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

/*Зеленая линия*/
.form__owner,
.form__comment,
.form__aditional {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    top: 14px;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}
/* stylelint-disable */
.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__input[type='number'] {
    -moz-appearance: textfield;
}

.form__input-owner::-moz-placeholder,
.form__input-info::-moz-placeholder,
.form__message-field::-moz-placeholder {
  color: $special-dark-grey;
  opacity: 1;
}
/* stylelint-enable */

/*Класс применяется при состоянии invalid у обязательных для заполнения полей*/
.invalid {
  border: 1px solid $basic-red;
  box-shadow: 0 0 1px $basic-red;
}
/*Применяется при состоянии invalid для svg*/
.invalid-svg {
  color: $basic-red;
}

/*Класс применяется при состоянии disabled у радиокнопок и чекбоксов*/
.disabled {
  opacity: 0.3;
}

/*Класс применяется при состоянии disabled у полей для заполнения телефона и мейла*/
.disabled-info {
  border-color: 1px solid $special-dark-grey;
  box-shadow: 0 0 1px $special-dark-grey;
}

/*Класс применяется при состоянии disabled для svg в полях телефона и мейла*/
.disabled-info-svg {
  color: $basic-green;
}
