.form__fieldset {
  border: none;

  @include offset(0, 0);
  display: flex;
  flex-direction: column;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.form__title {
  @include osvald(400);
  @include fonts(24px, 26px);
  color: $basic-black;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    @include fonts(36px, 36px);
  }
}

.form__label,
input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
  color: $special-dark-grey;

  @include osvald(400);
  @include fonts(16px, 18px);
  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    @include fonts(20px, 29.64px);
  }
}

.form__label:not(:last-of-type) {
  margin-bottom: 14px;
  display: block;
}

.form__input {
  border: 1px solid $special-light-grey;
  box-sizing: border-box;

  @include offset(0, 0);
}

.form__input-info,
.form__input-owner {
  min-height: 45px;
}

.form__input-info,
.form__message-field {
  border-color: $the-lightest-grey;
}

.form__label-radio {
  color: $almost-black;
  margin-bottom: 13px;
}


.form__message-field {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 631px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__info {
  margin-bottom: 32px;
}

.form__purpose {
  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    border: 1px solid $the-lightest-grey;
  }
}

.form__info,
.form__purpose {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.form__owner,
.form__comment {
  margin-bottom: 27px;
}

.form__aditional {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__label-aditional {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.form__button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.form__button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.form__text {
  font-family: "Arial", sans-serif;
  min-width: 157px;

  @include fonts(14px, 16px);
  @include offset(0, 0);
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 16px);
    width: 50%;
    padding-left: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 81px;
  }
}
