.gift {
  background-image: url("../img/cat-in-the-bag.png");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 245px;
  width: 289px;

  @include fonts(16px, 20px);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 80px;
  }
}

.gift__text {
  @include offset(0, 0);
  padding-top: 186px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 423px;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 43px 42px 41px;
  }
}
