.item-goods__amount {
  @include offset(0, 0);
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 20px);
    text-align: right;

    &:first-child {
      width: 132px;
    }

    &:last-child {
      width: 92px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    text-align: left;

    &:first-child {
      width: 244px;
      padding-right: 0;
    }

    &:last-child {
      width: 81px;
    }
  }
}

.item-goods__title {
  @include osvald(400);
  @include fonts(16px, 16px);
  @include offset(0, 0);
  text-transform: uppercase;
  color: $almost-black;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    width: 400px;
    text-align: left;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-right: 0;
    margin-bottom: 0;
    width: 325px;
  }
}

.item-goods__container {
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 5px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    justify-content: flex-start;
    margin-bottom: 13px;
  }
}

.item-goods__button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 632px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
}
