.main-nav__list {
  @include list-reset();
  @include osvald(500);
  @include fonts(20px, 20px);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include fonts(18px, 24px);
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    @include fonts(20px, 20px);
    width: 448px;
  }
}

.main-nav__item {
  min-height: 66px;
}

.main-nav__link {
  @include link();
  color: $basic-black;

  &:hover {
    @include color($basic-black, 0.6);
  }

  &:visited {
    @include color($basic-black, 0.3);
  }
}

.main-nav__item-active {
  border-bottom: 2px solid $basic-green;
}
