.page-footer {
  background-color: $basic-grey;
  padding-bottom: 32px;
  position: relative;
}

.page-footer__logo {
  display: block;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo-container {
  border-bottom: 1px solid $special-grey;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
  }
}

.page-footer__map {
  height: 362px;
  margin-bottom: 40px;
  background-image: url("../img/location@1x.jpg");
  background-size: auto 362px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/location@2x.jpg");
    background-size: auto 362px;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    width: auto;
    height: 400px;
    background-image: url("../img/location-tablet@1x.jpg");
    background-size: auto 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-tablet@2x.jpg");
      background-size: auto 400px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    background-image: url("../img/location-desktop@1x.jpg");
    background-size: auto 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/location-desktop@2x.jpg");
      background-size: auto 400px;
    }
  }
}

.page-footer__logo-img {
  @media (min-width: $tablet-width) {
    width: 128px;
    height: auto;
  }
}
