.page-main__wrapper {
  min-width: 280px;

  @include margin(19px, 19px);
}

.page-main__main-title {
  @include osvald(400);
  @include fonts(36px, 36px);
  font-weight: 400;

  @include offset(0, 0);
  margin-bottom: 60px;
}
