.page-main__main-title {
  @include osvald(400);
  @include fonts(36px, 36px);
  font-weight: 400;
  width: 100%;

  @include offset(0, 0);
  margin-bottom: 60px;
}

.page-main__catalog-title {
  padding-top: 27px;
  padding-bottom: 41px;
  margin-bottom: 0;

  @media (max-width: $mobile-width-only) {
    padding: 24px 20px 23px 20px;
    margin: 0 -20px;
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
  }

  @media (min-width: $tablet-width) {
    @include fonts(60px, 60px);
    padding-top: 58px;
    padding-bottom: 0;
    margin-bottom: 161px;
    border-bottom: none;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-main__decoration {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
