.partners {
  background-color: $basic-grey;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    position: static;
  }
}

.partners__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.partners__text {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    @include offset(0, 0);
    padding-top: 4px;
    width: 570px;
    min-height: 201px;
    position: absolute;
    top: 94px;
    left: 110px;
    background-color: $basic-white;
    align-items: center;
  }
}

.partners__title {
  color: $special-black;
  text-transform: uppercase;

  @include osvald(400);
  @include fonts(16px, 20px);
  @include size(140px, 64px);
  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    @include fonts(20px, 26px);
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    @include fonts(20px, 24px);
    padding-right: 87px;
    padding-left: 76px;
    width: 163px;
  }
}

.partners__address {
  color: $special-dark-grey;

  @include fonts(14px, 20px);
  @include size(140px, 60px);
  @include offset(0, 0);
  text-align: left;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 20px);
    min-width: 159px;
    padding-right: 41px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    @include fonts(16px, 20px);
    min-width: 155px;
    padding-right: 90px;
    text-align: left;
  }
}

.partners__space {
  @media (min-width: $tablet-width) {
    padding-top: 19px;
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}
