.programs {
  margin-bottom: 7px;
}

.programs__list {
  @include list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    width: 570px;
  }
}

.programs__title {
  @include osvald(400);
  @include fonts(24px, 37px);
  @include offset(0, 0);
  margin-bottom: 29px;
}

.programs__description {
  @include offset(0, 0);
  margin-bottom: 38px;
}

.programs__catalog-link {
  @include link();
  @include osvald(400);
  @include fonts(16px, 16px);
  color: $basic-black;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}
