.programs {
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.programs__list {
  @include list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.programs__item {
  background-color: $basic-grey;
  padding-top: 30px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 77px;
    padding-left: 53px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-top: 77px;
    margin-right: 80px;
    margin-bottom: 74px;
    box-sizing: border-box;

    &:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 72px;
    }
  }
}

.programs__item-skinny-cat::before,
.programs__item-strong-cat::before {
  position: absolute;
  content: "";
  background-position: 0;
  background-repeat: no-repeat;
}

.programs__item-skinny-cat::before {
  background-image: url("../img/cat-sits.svg");
  width: 50px;
  height: 53px;
  top: 18px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 79px;
    left: 444px;
    background-size: 198px auto;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    top: 40px;
    left: 50px;
    background-size: 100px 106px;
  }
}

.programs__item-strong-cat::before {
  background-image: url("../img/cat-runs.svg");
  width: 67px;
  height: 50px;
  top: 24px;
  left: 12px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 93px;
    left: 411px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    top: 46px;
    left: 32px;
    background-size: 134px 100px;
  }
}

.programs__title {
  @include osvald(400);
  @include fonts(24px, 37px);
  @include offset(0, 0);
  text-transform: uppercase;
  padding-left: 91px;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    @include fonts(36px, 36px);
    @include offset(0, 0);
    padding-bottom: 24px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 161px;
    padding-bottom: 73px;
  }
}

.programs__description {
  @include offset(0, 0);
  padding-top: 0;
  padding-bottom: 23px;
  margin: 0 33px 20px 20px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    @include fonts(16px, 24px);
    @include offset(0, 0);
    padding-bottom: 52px;
    width: 377px;
  }


  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.programs__description-slim {
  @media (min-width: $desktop-width) {
    width: 467px;
  }
}

.programs__description-strong {
  @media (min-width: $tablet-width) {
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.programs__catalog-link {
  @include link();
  @include osvald(400);
  @include fonts(16px, 16px);
  display: block;
  color: $basic-black;
  text-transform: uppercase;
  padding-left: 19px;
  margin-bottom: 23px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-position: 0;
    background-repeat: no-repeat;
    background-image: url("../img/icon-arrow.svg");
    width: 30px;
    height: 10px;
    top: 4px;
    left: 120px;
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("../img/long-arrow.svg");
      width: 32px;
      height: 12px;
    }
  }

  &:hover {
    &::after {
      background-image: url("../img/long-arrow.svg");
      width: 32px;
      height: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
    padding-left: 0;
    margin-bottom: 57px;

    &::after {
      top: 10px;
      left: 130px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;

    &::after {
      top: 11px;
      left: 130px;
    }
  }
}
