.programs {
  margin-bottom: 7px;
}

.programs__wrapper {
  min-width: 280px;
  @include margin(20px, 20px);
}

.programs__list {
  @include list-reset()
}

.programs__item {
    background-color: $basic-grey;
    margin-bottom: 20px;
}

.programs__title {
  @include osvald(400);
  @include fonts(24px, 37px);
  @include offset(0, 0);
  margin-bottom: 29px;
}

.programs__description {
  @include offset(0, 0);
  margin-bottom: 38px;
}

.programs__catalog-link {
  @include link();
  @include osvald(400);
  @include fonts(16px, 16px);
  color: $basic-black;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}
