.promo {
  @include osvald(400);
  position: relative;
  color: $basic-white;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  background:
    url("../img/green-cat.jpg") 50% 0 no-repeat,
    linear-gradient(to bottom, $dark-green 0%, $dark-green 63%, $basic-white 63%);
  background-size: 320px 302px, auto;

  @media (min-resolution: 2dppx) {
    background:
      url("../img/green-cat@2x.jpg") 50% 0 no-repeat,
      linear-gradient(to bottom, $dark-green 0%, $dark-green 38%, $basic-white 38%);
    background-size: 320px 302px, auto;
  }

  @media (min-width: $tablet-width) {
    background: none;
    color: $basic-black;
    padding-top: 58px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.promo__main-title {
  @include fonts(36px, 36px);
  font-weight: 400;

  @include offset(0, 0);
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 60px);
    width: 414px;
    padding-bottom: 41px;
    padding-left: 86px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__text {
  line-height: 14px;
  text-transform: uppercase;

  @include offset(0, 0);
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    padding-bottom: 48px;
    padding-left: 88px;
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-bottom: 50px;
    width: 414px;
  }
}

.promo__button {
  @include fonts(14px, 18px);
  @include offset(0, 0);
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    width: 244px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 526px;
    margin-left: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 267px;
  }
}

.promo__food-img {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    top: 200px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -82px;
    left: 558px;
    z-index: 0;
  }
}
