.social {
  margin-bottom: 26px;
  border-bottom: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.social__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 12px;
  width: 130px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    width: 130px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.social__item {
  @include offset(0, 0);
  display: block;
  text-align: center;

  &:first-child {
    margin-right: 35px;
  }

  &:nth-child(2) {
    margin-right: 33px;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      padding-left: 12px;
      margin-right: 20px;
    }

    &:nth-child(2) {
      margin-right: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      padding-left: 15px;
      margin-right: 22px;
    }

    &:nth-child(2) {
      margin-right: 14px;
    }
  }
}

.social__link--vkontakte,
.social__link--instagram {
  &:hover path {
    fill: $basic-green;
  }

  &:active path {
    fill: $basic-green;
    opacity: 0.25;
  }
}

.social__link--facebook {
  &:hover path {
    stroke: $basic-green;
  }

  &:active path {
    stroke: $basic-green;
    opacity: 0.25;
  }
}

.social__link {
  @include link();
}

.social__icon-vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__icon-insta {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon-fb {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 27px;
  }
}
