*,
*::before,
*::after {
  box-sizing: inherit;
}

/*html {
  box-sizing: border-box;
}*/

.page__body {
  min-width: 320px;
  background: $basic-white;
  color: $basic-black;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;

  @include offset(0, 0);

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
