/*Colors*/
$basic-green: #68b738;
$dark-green: #5eaa2f;
$light-grey: #e6e6e6;
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$dark-grey: #eaeaea;
$special-grey: #d9d9d9;
$special-dark-grey: #444444;
$special-light-grey: #cdcdcd;
$medium-grey: #dcdcdc;
$basic-black: #000000;
$special-black: #111111;
$the-lightest-grey: #e7e7e7;
$almost-black: #222222;
$special-form-grey: #bababa;
$basic-red: #ff8282;

/*Viewports*/
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width-only: 767px;
